body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

btn-primary {
    background-color: #00af66;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    color: #00af66 !important;
    font-weight: 400;
}

button#btnsearch {
    color: #fff;
    background-color: #00af66;
    border-color: #00af66;
}

.input-group.searchContainer {
    margin: 25px 0px;
}

input#txtCustomer:focus {
    outline: none;
    border-color: #00af66;
    box-shadow: 0 0 10px #00af66;
}

/* Bootstrap Modal CSS*/
#customerGridModal {
    /*table-layout: fixed;
    word-wrap: break-word;*/
    margin-top: 20px;
}

.modal-content {
    position: relative;
    right: 200px;
    top: 50px;
}

h3.modal-title {
    position: relative;
    right: 450px;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 230% !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    right: 230px;
    top: 100px;
}
